body {
    font-size:18px;
    line-height:1.6;
}

hr {
    border-top:1px black solid;
    margin-top:5px;
    padding-bottom:5px;
}

pre {
    border-radius:0;
    border:none;
    background: #f9f9f9;
}

pre[class*=language-]>code[data-language] {
    max-height: none;
    display:block;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
    background:inherit;
}

i {
    font-size:18px;
    color: #b42117;
}

table {
    table-layout:fixed;
}

.navbar {
    border-radius: 0;
    font-family: Roboto, sans-serif;
    background:#353535;
    font-size:15px;
    padding:15px 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active
.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav>li>a:focus {
    color:#fff;
    font-size:1em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active {
    font-size: 28px;
    color: #fff;
    letter-spacing: 1px;
}

.dropdown-menu ul li {
    color:inherit;
}

section.body {
    font-family: Lato, helvetica, sans-serif;
    margin-top:35px;
}

section.body h1,
section.body h2,
section.body h3 {
    color: #b42117;
    font-weight:300;
}

section.body h4,
section.body h5,
section.body h6 {
    font-weight:bold;
}

section.body li {
    margin:10px 0;
}

section.body ul {
    margin:0 0 20px;
}

.panel-body {
    margin-top:35px;
}

.panel-body p,
.panel-body pre {
    margin: 0 0 20px;
}

.panel {
    border-radius: 0;
    border:0;
    box-shadow:none;
}

.panel-default > .panel-heading {
    border-radius: 0;
    border-bottom:1px solid black;
    background-color: #fff;
    padding-bottom: 15px;
}


/**
* Home
*/


/**
* Contact Page
*/

.contact-icons {
    float:right;
    display:inline-block;
}

.contact-icons a {
    margin-left:20px;
}

.contact-icons i.fa {
    font-size:35px;
}

@media(max-width:600px){
    .contact-icons i.fa {
        font-size:30px;
    }

    .contact-icons a {
        margin-left:15px;
    }
}

.captcha {
    max-width:300px;
    margin:auto;
}

/**
* Message list page
*/

table.message-list.table tbody tr th{
    border-top:none;
}

/**
* Portfolio Pages
*/

.portfolio-row {
    border-bottom: 1px solid #e8e8e8;
    padding-top:40px;
    padding-bottom:20px;
}

.portfolio-row:nth-child(even) .portfolio-image {
    float:right;
}

.portfolio-description h2 {
    margin-top:0;
}

.portfolio-image img {
    border: 2px solid #e8e8e8;
    max-width:100%;
}

/*
* Pull form to right, used for delete button/form for specific admin functions
*/
.form-right {
    display:inline-block;
    float:right;
}


/**
* Generic classes
*/

.space-right {
    margin-right: 10px;
}

.space-left {
    margin-left: 10px;
}

.space-top {
    margin-top: 20px;
}

.space-bottom {
    margin-bottom: 20px;
}

/**
* Generic Bootstrap overrides
*/

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 1px solid #eee;
}

.btn {
    border-radius: 0;
    font-family: Roboto, sans-serif;
}

.btn-default {
    color: #b42117;
}

.btn-default:hover {
    color:#fff;
    background: #b42117;
}
